{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculdade UNES</title>
</head>
<body background="{% static 'home/images/fundo.png' %}">
    <div style="width: 900px; margin: 20px auto;">
        <img src="{% static 'home/images/logo.png' %}">
        <a href="#" style="margin-left: 50%;">Home</a> | 
        <a href="">Quem Somos</a> | 
        <a href="">Contato</a>
    </div>
    <div style="width: 900px; margin: 0px auto;">
        <img src="{% static 'home/images/capa.png' %}">
    </div>
    <div style="width: 900px; margin: 0px auto;">
        <h2>Sobre a universidade</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
             Consequatur molestiae quibusdam reprehenderit nisi dicta
              laudantium quo, sequi optio commodi ipsum qui aspernatur.
               Repellat maxime beatae ipsam odio! Eius doloremque iure 
               natus in cum omnis voluptates, illum similique quae porro 
               at earum. Qui quisquam incidunt deleniti reprehenderit cum 
               similique maiores fuga quos at nesciunt, facilis iste, cupiditate
                odio pariatur velit nihil sapiente id ex commodi culpa beatae 
                est! Repudiandae asperiores earum accusamus repellendus voluptatem 
                nobis ad deserunt repellat ab adipisci ducimus placeat, corrupti
                 soluta odio aut dolore quam rem quidem, alias id fuga! Nisi sapiente
                  illo voluptatem vero animi, id quos!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis saepe
             enim omnis molestias explicabo aliquid fugit provident odio at ea. 
             ]Suscipit corrupti dicta ullam necessitatibus doloribus accusamus, est 
             soluta odit quae. Soluta inventore eaque sit sequi odit repellat saepe 
             perferendis! Possimus labore eveniet iure itaque atque dolore amet nemo 
             esse suscipit blanditiis sint, alias similique. Modi, praesentium velit?
              Fugiat facilis modi eius culpa porro odio excepturi, dolore non beatae,
               veniam necessitatibus quae quod corrupti. Voluptates vero neque tempora
                sit repudiandae eius quod harum hic est distinctio possimus corrupti, 
                fuga repellendus ratione, ex sint quos architecto reiciendis. At blanditiis 
                et placeat numquam, dolor harum fugiat quisquam eos porro fuga obcaecati in 
                necessitatibus pariatur hic cumque beatae, esse iure quo qui vel, quidem 
                accusamus voluptate? Blanditiis suscipit odio minus. Aliquid, deleniti itaque 
                sunt ea consequatur amet ullam? Impedit officia beatae excepturi similique
                 maxime itaque non culpa sit ex quisquam quia minus, hic laboriosam molestias 
                 aut, repellendus in modi! Rerum nesciunt impedit cupiditate earum sed expedita
                  itaque! Architecto impedit nisi aperiam cum quae? Ad impedit cum atque sapiente
                   adipisci repudiandae veniam aliquam unde animi. Adipisci commodi itaque, nostrum possimus veniam nulla odio molestias, qui fuga enim praesentium rem ipsa delectus tempore recusandae deleniti?</p>
    </div>
    <div style="width: 900px; margin: 0px auto;">
        <h4 style=""text-align: center>Todos os direitos reservados</h4>
    </div>
</body>
</html>